@import "../../style/global/color";
@import "../../style/global/reset";
@import "../../style/global/util";

:host {
    width: 100%;
}

.weather-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    width: 100%;

    &__header {
        @extend %reset-h;
        font-size: 2rem;
        width: 50%;
    }

    &__measurements {
        @extend %reset-dl;
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    &__measurement {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 50%;
    }

    &__measurement-label {
        @extend %hide-accessible;
    }

    &__measurement-value {
        @extend %reset-dd;
    }
}
