<section class="weather-summary">
    <h2 class="weather-summary__header">
        {{ weather.name }}
    </h2>
    <dl class="weather-summary__measurements">
        <div
            class="weather-summary__measurement weather-summary__measurement--temperature"
        >
            <dt class="weather-summary__measurement-label">Temperature</dt>
            <dd class="weather-summary__measurement-value">
                {{ formatTemperature(weather.main.temp) }}
            </dd>
        </div>
        <div
            class="weather-summary__measurement weather-summary__measurement--wind"
        >
            <dt class="weather-summary__measurement-label">Wind</dt>
            <dd class="weather-summary__measurement-value">
                <lib-weather-vane
                    [wind-direction]="weather.wind.deg"
                    [wind-speed]="weather.wind.speed"
                >
                </lib-weather-vane>
            </dd>
        </div>
    </dl>
</section>
