@import "../../style/global/color";
@import "../../style/global/reset";
@import "../../style/global/util";

.weather-report {
    @include padding-horizontal(1rem);

    padding-top: 2rem;

    &__header {
        @extend %reset-h;
        font-size: 3rem;
    }

    &__header,
    &__temperature {
        text-align: center;
    }

    &__measurements,
    &__temperature {
        @extend %reset-dl;
    }

    &__temperature-label {
        @extend %hide-accessible;
    }

    &__measurement-value,
    &__temperature-value {
        @extend %reset-dd;
    }

    &__forecast {
        @include margin-vertical(2rem);
    }

    &__temperature {
        font-size: 2rem;
    }

    &__measurements {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    &__measurement {
        margin-bottom: 1rem;
        width: 50%;
    }

    &__measurement-label {
        font-variant: small-caps;
        text-transform: lowercase;
    }

    &__measurement-value {
        font-variant: small-caps;
        text-transform: lowercase;
    }

    &__last-modified {
        @include margin-vertical(1rem);

        color: rgba($primary-fill-color, 0.8);
        font-size: 0.8rem;
    }
}
