<form
    action="./token"
    class="token-form"
    method="POST"
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
>
    <p>
        <label for="token" class="token-form__label">Token:</label>
        <input
            class="token-form__text-input"
            id="token"
            type="password"
            autocomplete="password"
            name="token"
            formControlName="token"
        />
    </p>
    <p>
        <button type="submit" [disabled]="!form.valid">Use token</button>
    </p>
</form>
